{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="top-header text-white">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-light">Facebook</a></li>
                <li><a href="#" class="nav-link px-2 link-light">Instagram</a></li>
                <li><a href="#" class="nav-link px-2 link-light">Email</a></li>
            </ul>
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="/media/jpcarswhite.png" />
            </a>
            <div class="col-md-3 text-end">
                <a href="tel:+01543 682388" class="link-light">01543 682388</a>
            </div>
        </header>
    </div>
</div>
<div class="bg-secondary text-white">
    <div class="container">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-around mb-md-0">
            <li><a href="#" class="nav-link px-2 link-light">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Showroom</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Parts</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Book In</a></li>
            <li><a href="#" class="nav-link px-2 link-light">About</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Contact</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Testimonials</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Account</a></li>
        </ul>
    </div>
</div>
<div class="overlay">

</div>
<div class="hero-image">

</div>
{% endblock %}