{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="overlay">

</div>
<div class="hero-image">
    <div class="hero-caption">
        <h2 class="text-white pb-2">Welcome To JP Performance Cars</h2>
        <button class="btn jpc-btn">
            Check out the Showroom
        </button>
    </div>
</div>
<section class="info-banner p-4">
    <div class="container">
        <div class="row text-center jpc-black-bg text-white jpc-box-shadow">
            <h2 class="text-center mt-3">Services</h2>
            <p>Check out some more: <a class="btn jpc-btn-link" href="">Services</a></p>
            <div class="col-12 col-lg-6 p-3">
                <h2>Servicing</h2>
                <i class="fas fa-cogs fa-2x"></i>
            </div>
            <div class="col-12 col-lg-6 p-3">
                <h2>Diagnostics</h2>
                <i class="fas fa-laptop fa-2x"></i>
            </div>
            <div class="col-12 col-lg-6 p-3">
                <h2>Engine Rebuilds</h2>
                <i class="fas fa-car fa-2x text-white"></i>
            </div>
            <div class="col-12 col-lg-6 p-3">
                <h2>Powder Coated Crackle Finish</h2>
                <i class="fas fa-spray-can fa-2x text-white"></i>
            </div>
        </div>
    </div>
</section>
<section class="parallax mt-5">
    <div class="container">
        <div class="row text-white">
            <div class="parallax-info position-relative jpc-black-bg jpc-box-shadow">
                <h2 class="text-center mt-3">What Do We Do?</h2>
                <p class="text-center">JP Performance Cars has over 40+ years combined experience within the team
                    ranging
                    all the way from Ferrari and
                    Maserati classics such as <strong class="highlight">Ferrari F40</strong>, <strong
                        class="highlight">Dino</strong>, <strong class="highlight">275 GT</strong> all the way to
                    Modern Day Ferrari's such as
                    <strong class="highlight">812
                        Superfast</strong>, <strong class="highlight">F8 Tributo</strong>.</p>
                <br />
                <p class="text-center">JP Performance Cars also works on other prestigous car brands such as
                    <strong class="highlight">Aston
                        Martin's</strong>, <strong class="highlight">Lamborghini's</strong>, <strong
                        class="highlight">Porsche's</strong>, <strong class="highlight">Bentley</strong> and more
                    so do not
                    hesitate to give us a call on
                    <a href="tel:+01543 682388" class="jpc-btn-link btn rounded-3 text-decoration-none">
                        <i class="fas fa-phone fa-lg"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}