<div class="mobile-menu d-lg-none d-block">
    <nav class="navbar navbar-dark jpc-black-bg">
        <div class="container-fluid">
            <button class="btn text-white btn-lg border-0 col-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars fa-lg"></i>
            </button>
            <a href="{% url 'home' %}" class="col-6">
                <img src="{{ MEDIA_URL }}jpcarswhite.png" alt="JP Performance Cars logo" class="img-fluid" />
            </a>
            <a class="btn text-white btn-lg border-0 col-2" href="tel:+01543 682388">
                <i class="fas fa-phone fa-lg"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="mobile-menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">HOME</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2 link-dark" href="{% url 'showroom' %}"
                        data-bs-toggle="dropdown" aria-expanded="false">SHOWROOM</a>
                    <div class="dropdown-menu jpc-black-bg" aria-labelledby="dropdownMenu2">
                        <a class="nav-link dropdown-item px-2 link-dark" href="{% url 'showroom' %}">All Cars</a>
                        <a class="nav-link dropdown-item px-2 link-dark"
                            href="{% url 'showroom' %}?manufacturer=Ferrari">Ferrari's
                            For Sale</a>
                        <a class="nav-link dropdown-item px-2 link-dark"
                            href="{% url 'showroom' %}?manufacturer=Maserati">Maserati's
                            For Sale</a>
                        <a class="nav-link dropdown-item px-2 link-dark"
                            href="{% url 'showroom' %}?manufacturer=Porsche">Porsche's
                            For Sale</a>
                    </div>
                </li>
                <li><a href="{% url 'book_in' %}" class="nav-link px-2 link-dark">BOOK IN</a></li>
                <li><a href="{% url 'about' %}" class="nav-link px-2 link-dark">ABOUT</a></li>
                <li><a href="{% url 'contact' %}" class="nav-link px-2 link-dark">CONTACT</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">SERVICES</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">TESTIMONIALS</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">ACCOUNT</a></li>
            </ul>
        </div>
    </nav>
</div>