<div class="second-header d-none d-lg-block text-white">
    <div class="container">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-around mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark">HOME</a></li>
            <li><a href="{% url 'showroom' %}" class="nav-link px-2 link-dark">SHOWROOM</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">PARTS</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">BOOK IN</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">ABOUT</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">CONTACT</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">TESTIMONIALS</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">ACCOUNT</a></li>
        </ul>
    </div>
</div>