{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="showroom px-4">
    <h2 class="text-white pb-2 p-2 jpc-black-bg">Showroom</h2>
</div>
<div class="container">
    <div class="row filter-bar mt-3">
        <form class="mb-2">
            <h3>Search Vehicle</h3>
            <div class="row">
                <div class="col-12 col-md-3">
                    <select class="form-select" name="" id="car-search">
                        <option value="reset">Car
                            Manufacturer
                        </option>
                        {% for manufacturer in manufacturers %}
                        <option value="{{ manufacturer }}"
                            {% if current_manufacturer == manufacturer.name %}selected{% endif %}>{{ manufacturer }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-select" name="" id="car-search">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Car
                            Models
                        </option>
                        {% for model in models %}
                        <option value="{{ model }}">{{ model }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-select" name="" id="car-search">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                            Min Price
                        </option>
                        <option value="10000">
                            £10000
                        </option>
                        <option value="20000">
                            £20000
                        </option>
                        <option value="30000">
                            £30000
                        </option>
                        <option value="40000">
                            £40000
                        </option>
                        <option value="50000">
                            £50000
                        </option>
                        <option value="60000">
                            £60000
                        </option>
                        <option value="£70000">
                            £70000
                        </option>
                        <option value="£80000">
                            £80000
                        </option>
                        <option value="£90000">
                            £90000
                        </option>
                        <option value="£100000">
                            £100000
                        </option>
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-select" name="" id="car-search">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                            Max Price
                        </option>
                        <option value="10000">
                            £10000
                        </option>
                        <option value="20000">
                            £20000
                        </option>
                        <option value="30000">
                            £30000
                        </option>
                        <option value="40000">
                            £40000
                        </option>
                        <option value="50000">
                            £50000
                        </option>
                        <option value="60000">
                            £60000
                        </option>
                        <option value="£70000">
                            £70000
                        </option>
                        <option value="£80000">
                            £80000
                        </option>
                        <option value="£90000">
                            £90000
                        </option>
                        <option value="£100000">
                            £100000
                        </option>
                    </select>
                </div>
            </div>
            <button class="btn jpc-btn-black mt-2 float-end"><i class="fas fa-search"></i></button>
        </form>
        <div class="col-12 col-md-3">
            <select class="form-select" name="" id="sort-selector">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                </option>
                <option value="sale_price-asc" {% if current_sorting == 'sale_price_asc' %}selected{% endif %}>Price
                    (low to
                    high)
                </option>
                <option value="sale_price-desc" {% if current_sorting == 'sale_price_desc' %}selected{% endif %}>Price
                    (high to
                    low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            </select>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row">
        {% for car in cars_for_sale %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 forsalebox text-center">
                {% if car.image %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ car.image.url }}" alt="{{ car.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ car.name }}">
                </a>
                {% endif %}
                <div class="card-body p-0">
                    <div class="bg-dark text-white p-2">
                        <p class="mb-0">{{ car.name }}</p>
                        <p class="mb-0 small">{{ car.engine_information }}</p>
                    </div>
                </div>
                <div class="card-footer bg-white pt-1 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            {% if car.status == 1 %}
                            {% if car.sale_price %}
                            <p class="lead mb-0 text-left font-weight-bold">£{{ car.sale_price }}</p>
                            {% else %}
                            <p class="lead mb-0 text-left font-weight-bold">£POA</p>
                            {% endif %}
                            {% endif %}
                            {% if car.status == 2 %}
                            <p class="lead mb-0 text-left font-weight-bold">RESERVED</p>
                            {% endif %}
                            {% if car.status == 3 %}
                            <p class="lead mb-0 text-left font-weight-bold">SOLD.</p>
                            {% endif %}
                            {% if car.manufacturer %}
                            <p class="small mt-1 mb-0">
                                {{ car.manufacturer }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}