@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

* {
    font-family: Trajan Pro;
}

header {
    z-index: 99;
}

.top-header {
    background-color: rgb(0 0 0 / 88%) !important;
}

.second-header {
    background: white;
    -webkit-box-shadow: 0px 1.5px 9px 0px #000000;
    box-shadow: 0px 1.5px 9px 0px #000000;
}

.second-header li a.active {
    border-bottom: 1px solid white;
    color: black;
}

.second-header li a:hover {
    border-bottom: 1px solid #d00003b3;
}

.hero-image {
    background-image: linear-gradient(179deg, #000000b5, #00000000), url('/media/home-hero.jpg');
    background-position: bottom;
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero-caption {
    background: #000000ab;
    padding-top: 2rem;
    margin: auto;
    text-align: center;
    top: 40%;
    width: 50%;
    height: 25vh;
    position: relative;
}

.jpc-btn {
    border: 1px solid white;
    border-radius: 0%;
    color: white;
}

.jpc-btn:hover {
    background-color: #d00003;
}

.jpc-btn-black {
    border: 1px solid black;
    border-radius: 0%;
    color: black;
}

.jpc-btn-black:hover {
    background-color: #d00003;
}

a.jpc-btn-link {
    border: 1px solid #d00003 !important;
    color: #fff !important;
}

a.jpc-btn-link:hover {
    background-color: #d00003b3 !important;
}

.jpc-black-bg {
    background-color: rgb(0 0 0 / 88%) !important;
}

.jpc-box-shadow {
    -webkit-box-shadow: -8px -5px 0px 0px #d00003;
    box-shadow: -8px -5px 0px 0px #d00003;
}

.info-banner {
    background-image: url('/media/maserati-engine.jpg');
    background-position: center;
}

.parallax {
    background-image: url('/media/aston-martin.jpg');
    background-attachment: fixed;
    height: 50vh;
}

.parallax-info {
    top: 50px;
}

strong.highlight {
    color: #d00003 !important;
}

#block-services {
    background-image: linear-gradient(179deg, #000000b5, #000000b5), url('/media/services.jpg');
    height: 650px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

#block-showroom {
    background-image: linear-gradient(179deg, #000000b5, #000000b5), url('/media/showroom-example.jpg');
    height: 650px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 1000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

#block-services:hover,
#block-showroom:hover {
    background-size: 103% 103%;
}

.showroom {
    background-image: url(/media/ferrari-f40.jpg);
    height: 330px;
    background-position: center;
    background-size: 100%;
    display: flex;
    align-items: end;
}

.book-in {
    background-image: url(/media/services.jpg);
    height: 330px;
    background-position: center;
    background-size: 100%;
    display: flex;
    align-items: end;
}

.forsalebox {
    box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 16%), 1px 2px 10px 0 rgb(0 0 0 / 16%);
}


.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

@media screen and (max-width:768px) {
    .hero-caption {
        width: 90vw;
    }

    .parallax {
        height: 100vh;
    }

    #block-services,
    #block-showroom {
        height: 240px;
    }
}

.navbar .megamenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}