<section class="two-column mt-5">
    <div class="row g-0">
        <a href="" class="col-lg-6 col-12 text-center">
            <div id="block-services">
                <span class="btn jpc-btn w-50 top-50 position-relative">SERVICES</span>
            </div>
        </a>
        <a href="/" class="col-lg-6 col-12 text-center">
            <div id="block-showroom">
                <span class="btn jpc-btn w-50 top-50 position-relative">SHOWROOM</span>
            </div>
        </a>
    </div>
</section>