<footer class="mt-5">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="col-12">
                    <h2>Quick Links</h2>
                    <hr>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="nav-link px-2 link-dark">Home</a>
                        </li>
                        <li><a href="#" class="nav-link px-2 link-dark">Showroom</a></li>
                        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h2>Opening Hours</h2>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li>
                                Monday
                            </li>
                            <li>
                                Tuesday
                            </li>
                            <li>
                                Wednesday
                            </li>
                            <li>
                                Thursday

                            </li>
                            <li>
                                Friday

                            </li>
                            <li>
                                Saturday
                            </li>
                            <li>
                                Sunday
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li>9:00AM - 5:00PM</li>
                            <li>9:00AM - 5:00PM</li>
                            <li>9:00AM - 5:00PM</li>
                            <li>9:00AM - 5:00PM</li>
                            <li>9:00AM - 5:00PM</li>
                            <li>9:00AM - 2:00PM</li>
                            <li>Closed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="col-6">
                    <h2>Find Us</h2>
                    <hr>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Postcode"><a class="btn jpc-btn-link"><i
                                class="fas fa-location-arrow text-dark"></i></a>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <h2>Contact</h2>
                    <hr>
                    <a href="tel:+01543 682388" class="link-dark nav-link">01543 682388</a>
                    <a href="mailto:jp@jpperformancecars.co.uk"
                        class="link-dark nav-link">jp@jpperformancecars.co.uk</a>
                </div>
            </div>
        </div>
    </div>
</footer>